@model FirstMVCApp.Models.User
<form method="post" action="result">
    <p>User Name:</p>

    <label asp-for="UserName" class="control-label"></label>
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
    @*<input type="text" name="UserName" />*@

    <p>Email Address:</p>
    <input type="email" name="Email Address" required ="required"  />

    <p>Phone Number (Format:123-456-7890):</p>
    <input type="tel" name="Phone Number" required ="required" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" title="Please enter your phone number including your area code (US only)."/>

    <p>Password:</p>
    <input type="password" name="Password" required ="required" pattern="[a-zA-Z0-9]{6,20}" title="Your password must be between 6-20 characters."/>


    <input type="submit" />
</form>
